<!DOCTYPE html>
<html lang="en-US">
<head>
    {% include 'ImmobilierManagerBundle:_common:head.html.twig' %}
</head>
<body>
<div id="wrapper-outer" >
    <div id="wrapper">
        <div id="wrapper-inner">
            <!-- BREADCRUMB -->
            {% include 'ImmobilierManagerBundle:_common:bread.html.twig' %}

            <!-- HEADER -->
            {% include 'ImmobilierManagerBundle:_common:header.html.twig' %}

            <!-- NAVIGATION -->
            {% include 'ImmobilierManagerBundle:_common:menu.html.twig' %}

            {% block content %} {% endblock %}
        </div><!-- /#wrapper-inner -->

        {% block footer %}
            {% include 'ImmobilierManagerBundle:_common:footer.html.twig' %}
        {% endblock %}
    </div><!-- /#wrapper -->
</div><!-- /#wrapper-outer -->

{% block palette%}
    {% include 'ImmobilierManagerBundle:_common:palette.html.twig' %}
{% endblock %}
{% block javascripts %}
    {% include 'ImmobilierManagerBundle:_common:loadjs.html.twig' %}
{% endblock %}
</body>
</html>
