<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb pull-left">
                    <li><a href="{{ path('immobilier_manager_homepage') }}">Home</a></li>
                </ul><!-- /.breadcrumb -->

                <div class="account pull-right">
                    <ul class="nav nav-pills">
                        <li><a href="login.html">Login</a></li>
                        <li><a href="registration.html">Registration</a></li>
                    </ul>
                </div>
            </div><!-- /.span12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.breadcrumb-wrapper -->