<div id="header-wrapper">
    <div id="header">
        <div id="header-inner">
            <div class="container">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="row">
                            <div class="logo-wrapper span4">
                                <a href="#nav" class="hidden-desktop" id="btn-nav">Toggle navigation</a>

                                <div class="logo">
                                    <a href="{{ path('immobilier_manager_homepage') }}" title="Home">
                                        <img src="{{ asset('bundles/immobiliermanager/images/logo.png') }}" alt="Home">
                                    </a>
                                </div><!-- /.logo -->

                                <div class="site-name">
                                    <a href="/" title="Home" class="brand">Realia</a>
                                </div><!-- /.site-name -->

                                <div class="site-slogan">
                                    <span>Real estate &amp; Rental<br>made easy</span>
                                </div><!-- /.site-slogan -->
                            </div><!-- /.logo-wrapper -->

                            <div class="info">
                                <div class="site-email">
                                    <a href="mailto:info@byaviators.com">info@byaviators.com</a>
                                </div><!-- /.site-email -->

                                <div class="site-phone">
                                    <span>333-666-777</span>
                                </div><!-- /.site-phone -->
                            </div><!-- /.info -->

                            <a class="btn btn-primary btn-large list-your-property arrow-right" href="{% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == path('immobilier_manager_createAnnonce') %} # {% else %}{{ path('immobilier_manager_createAnnonce') }} {% endif %}">List your property</a>
                        </div><!-- /.row -->
                    </div><!-- /.navbar-inner -->
                </div><!-- /.navbar -->
            </div><!-- /.container -->
        </div><!-- /#header-inner -->
    </div><!-- /#header -->
</div><!-- /#header-wrapper -->