<div class="sidebar span3">
    {% block lastagent %}
        {% include 'ImmobilierManagerBundle:_common:last-agents.html.twig' %}
    {% endblock %}
    {% block lastarticle %}
        {% include 'ImmobilierManagerBundle:_common:last-articles.html.twig' %}
    {% endblock %}
</div>